
body{

margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;

}

.Nav_wrapper{

width: 100vw;
height: 6vh;
display: flex;
padding: .8rem;
align-items: center;
justify-content: space-between;
margin-bottom: 30px;

}

.Links{

width: auto;
height: 100%;
display: flex;
align-items: center;
justify-content: center;

}

.Links ul{

width: 100%;
display: flex;
gap: 30px;
list-style: none;
font-weight: 450;
color: #646363;
cursor: pointer;

}

.btn_wrapper{

    min-width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}