
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html,body{

padding: 0;
margin: 0;
box-sizing: border-box;
}

.Sidebar_wrapper{

min-width:100px;
min-height:100vh;
border: 1px solid #e7e7e7;
margin: 0;
display: flex;
margin-left: 0;
padding: 0.2rem;
flex-direction: column;
gap: 10px;
overflow:hidden;
min-height: 100vh;
position: relative;
background:#fff;
z-index: 9999;
top:0;
left:0;
right:0;
bottom:0;

}

.Sidebar_closed{

min-width: 70px;
display: flex;
align-items: center;
justify-content:flex-start;
position:relative;

}

.Toggle_btn_wrapper_closed{

width: 100%;
min-height: 50px;
display: flex;
align-items: center;
justify-content: center;
width:80%;

}

.Toggle_btn_wrapper_closed button{
  display:flex;
  place-self: center;
  margin:0;
  align-items:center;
  justify-content: center;
}

.Toggle_btn_wrapper{

width: 100%;
min-height: 40px;
display: flex;
align-items: center;
justify-content:center;
flex-direction: row-reverse;
margin-top: 20px;

}

.Toggle_btn_wrapper_open{

width: 100%;
min-height: 50px;
display: flex;
align-items: center;
justify-content:space-between;
flex-direction: row-reverse;


}

.Toggle_btn_wrapper h3{

font-size: 18px;
font-family: "Inter",sans-serif;
font-weight: 400;
margin-left: 10px;

}

.Toggle_open{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width:100%;
  min-height:40px;
}


.Toggle_btn_wrapper button{

border: none;
cursor: pointer;
transition: .4s ease;
background: #fff;
}

.Toggle_btn_wrapper_mobile{
  display: none;
}

.Sidebar_links_closed{

 width: 100%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 flex-direction: column;
 margin-top: 0px;
 flex: 1;
 gap:12px;

}

.Sidebar_wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 12px;
  margin-top: 20px;
}


.Links_closed li {
  width: 80%;          
  margin: 0 auto;      
  display: flex;
  padding: .4rem;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
}



/* Side_Bar Open */ 

.Sidebar_open{
  min-width: 220px;
  min-height: 100vh;     /* ADD THIS - gives parent a height */
  display: flex;
  flex-direction: column; /* ADD THIS - makes children stack vertically */
  z-index: 9999;
  position: relative;
  background: #fff;

}

.Sidebar_open ul{
  gap:14px;
}

.Links_open ul{

 width: 100%;
 display: flex;
 align-items: flex-start;
 justify-content: flex-start;
 flex-direction: column;
 margin-top: 20px;
 gap:80px;
 border:1px solid black;
 background: transparent;

}

.Links_open ul,li{

width: 90%;
display: flex;
align-items: center;
gap: 10px;
padding: .4rem;
border-radius: 4px;
font-size: 14px;
justify-content: flex-start;
font-family: "Inter",sans-serif;
font-weight: 430;

}

.Links_open li:hover{

    background: #f3f1f1;
    min-height: 22px;
    border-radius: 12px;
    cursor: pointer;

}

.Toggle_open{

    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    flex-direction: row-reverse;

}


.user_info_wrapper{

  min-width:100%;
  min-height: 60px;
  padding:0.4em;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
  gap: 20px;
    flex-shrink: 0;       /* ADD THIS - prevents it from shrinking */
  margin: 0 auto; 
  place-self: center;
  margin-left: -10px;
  position: sticky;
    bottom: 0;              /* Sticks to bottom */
  background: #fff;       /* Important: needs background to cover content behind it */
  z-index: 10000;  

}

.profile_pic{
width:100%;
height:100%;
}

.profile_pic_wrapper{
  width:45px;
  height:45px;
  border-radius: 50%;
  border: 1px solid #000;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  margin-left: 10px;
}

.profile_pic_wrapper img{
  min-width: 100%;
  min-height: 100%;
}

.details_users{
  max-width: 80%;
  height: 100%;
  flex:1;
  display: flex;
  align-items: flex-start;
  justify-content:center;
  flex-direction: column;
  gap:8px;
}

.user_name{
  font-size: 14px;
  font-family: "Inter",sans-serif;
}

.user_tier{
  font-size: 12px;
  color: #7a7777;
}

.Account_Wrapper{

  width:100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;  
  top: 0;          
  left: 0;         
  z-index: 10000;  

}

.Account_Content_Card{

 min-width: 36%;
 min-height: 80vh;
 border-radius: 12px;
 background: #fff;
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 top:0;
 left:0;
 z-index:9999;
 position: relative;


}

.Account_Content_Card_head{
  width: 95%;
  max-height: 60px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  font-family: 'Roboto',sans-serif;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #ddd ;
  overflow: hidden;
 margin-left: 10px;

}

.Account_Content_Card_head h3{
  font-size: 18px;
  font-weight: 400;
  margin-left: 14px;
}

.Account_Content_Card_head button{
  background: none;
  border: none;
  font-family: "Roboto",sans-serif;
  color: #b4b3b3;
  cursor: pointer;
}

.User_Details{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 20px;
}

.User_Details span{

  font-size: 14px;
}

.User_Details h3{
  font-weight: 350;
  font-size: 15px;
}

.User_Details span{
  font-size: 14px;
  color: #6b6868;
}

.User_upgrade{
  display: flex;
  width: 90%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  place-self: center;
  margin-bottom: 20px;
}

.User_upgrade h3{
font-size: 14px;
font-weight: 400;
}

.User_upgrade button{
  width: 90px;
  height: 38px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
              background: linear-gradient(135deg, #ff6b00 0%, #ffb347 50%, #ff8c00 100%);
color: white;
cursor: pointer;
}

.User_row1{
  display: flex;
  width: 90%;
  height: 40px;
  align-items: center;
  justify-content: space-between;

}

.User_Upgarde_details{

  width:100%;
  min-height:150px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  place-self: center;
  gap: 0;
  margin-bottom: 20px;

}

.User_Upgrade_details h3{
  font-size: 14px;
  margin-left: 20px;
  width:100%;
  margin-bottom: 0;
}

.User_Upgrade_details ul{
  width: 90%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}

.User_Upgrade_details ul li{
  width: 100%;
  place-self: left;
  min-height: 30px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  font-family:"Roboto",sans-serif;
  font-size: 14px;
}

.User_log_out{
  display: flex;
  width: 90%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.User_log_out h3{
  font-size: 14px;
  font-weight: 400;
}

.User_log_out button{
  width: 100px;
  min-height: 35px;
  border-radius: 20px;
  border: none;
  background: #000000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto",sans-serif;
}


.Settings_main_content{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  gap: 10px;
}

.Setting_row_content{
  display: flex;
  width: 90%;
  align-items: center;
  min-height:40px;
  justify-content: space-between;
  border-bottom: 1px solid #f1eded;
}

.Setting_row_content h3{
  font-size: 14px;
  color: #6b6868;
  font-weight: 400;
}

.Setting_row_content select{
  font-family: "roboto",sans-serif;
  border: none;
  background: transparent;
}

/* Subscription popup code */

.subscription_Card{

 display:flex;
 min-width:60%;
 min-height:500px;
 flex-direction:column;
 background:#fff;
 border-radius:30px;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
 padding: .8rem;

}

.subscription_Card_head_wrapper{
  width: 90%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.subscription_Card_head_wrapper h2{
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.span_plan{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6px;
  color: #0f0f0f;
  margin-bottom: 20px;
  font-size: 14px;
}

.span2_plan{
  width: 40%;
  line-height: 1.4em;
  font-size: 12px;
  color: #6b6868;
}

.subscription_Cards_Wrapper{
  width: 100%;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.subscription_plan_card{
  width: 240px;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;  
  border-radius:20px;
  overflow: hidden;
}

.plan_card_content{

  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  width: 90%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.plan_card_content span{
  font-size: 14px;
  font-weight: 550;
  color: #302f2e;
}

.plan_card_pricing{
  width: 100%;
  min-height: 55px;
  margin-top: 15px;
  margin-bottom: 0;
}

.plan_card_features{
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 20px;
}

.plan_card_content ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  gap: 14px;
  align-items: center;
  place-content: left;
}

.plan_card_content ul li{
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-right: 80px;
  font-size: 14px;
  font-weight: 450;
}

.upgrade_btn{
  width: 90%;
  min-height: 40px;
  padding: .4rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #ffa600, #FF7F00);
  border: none;
  color: #fff;
  font-family: "Roboto",sans-serif;
  cursor: pointer;
  margin-top: 20px;
}


.upgrade_btn_1{
  width: 90%;
  min-height: 40px;
  padding: .4rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF7F00;
  font-weight: 450;
  color: #0a0a0a;
  font-family: "Roboto",sans-serif;
  cursor: pointer;
  margin-top: 20px;
  background: #ffff;
}

.Setting_Card{

 width:60%;
 min-height:500px;
 display:flex;
 flex-direction:column;
 background:#fff;
 border: 1px solid #ddd;
 border-radius: 8px;
 padding:.8em;
 font-family: "Inter",sans-serif;

}

.dropdown_options_wrapper{

 width:100%;
 display:flex;
 min-height:60px;
 align-items:center;
 justify-content:center;
 gap:10px;
 margin-top: 30px;
 margin-bottom: 30px;

}

.Video_quality_div{
  width:45%;
  display: flex;
  min-height: 20px;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  gap:20px;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Inter",sans-serif;
}

.Video_quality_div h3{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 450;
  color: #8a8686;
}

.Video_quality_div select{
  border: none;
  flex: 1;
  font-family: "Inter",sans-serif;
  font-size:14px;
  font-weight:450;
  color: #302f2e;
appearance: none;
cursor: pointer;
  -webkit-appearance: none; /* For older Chrome/Safari */
  -moz-appearance: none;
}

.Video_quality_div select:focus{
  outline: none;
}

.template_selector_wrapper{

width: 90%;
min-height: 230px;
display: flex;
flex-direction: row;
align-items: flex-start;
place-self: center;
justify-content: flex-start;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 4px;
gap:20px;
}

.template_selector_card{
  min-width:230px;
  min-height:230px;
  border-radius:12px;
  border:1px solid black;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

  .toggle_btn_mobile{
    background:#fff;
    border:none;
    cursor: pointer;
  }

  .Toggle_open{
    display:none;
  }

/* mobile screen code */ 

@media screen and (max-width:768px) {

 .Sidebar_wrapper{
  border:1px solid #ddd;
 }

  .Toggle_btn_wrapper_mobile{
    position: fixed;
    top: 12px;
    left: 12px;
    z-index: 10000;
    display: flex;  
    border: none;
    cursor: pointer;
  }

  .toggle_btn_mobile{
    background: transparent;
    border:none;
    cursor: pointer;
  }

  .Toggle_btn_wrapper button{
 
    display:flex;
      position: fixed;
      cursor: pointer;
    top: 12px;
    left: 12px;
    z-index: 10000;
width: 40px;
border: none;
height: 40px;
border-radius: 50%;
margin-left: 2px;
display: none;

}

.Toggle_btn_wrapper{
  border:none;
}

.Toggle_open{
  display: flex;
  align-items:center;
  justify-content:space-between;
  flex-direction:row-reverse;
  min-height:40px;
  width:42%;
  overflow: hidden;
}

.Toggle_open h3{
  font-weight: 430;
  font-family: "Inter",sans-serif;
}

.Toggle_open button{

 display:flex;
 align-items:center;
 justify-content: center;

}

  .Sidebar_links_closed{
    display: none;

  }

  .Toggle_btn_wrapper h3{
    display:none;
  }

  .Sidebar_wrapper{

    min-width: 0px;
    background: none;
    padding: 0;
    min-height:0px;
    border: none;
  }

  .Sidebar_open{
    min-width: 220px;
    display:flex;
    position:relative;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    border:1px solid #ddd;
    border-top: none;
  }



  .Sidebar_closed .user_info_wrapper{
    display: none;
  }


}







